@media (hover: hover) {
  .foobar {
    color: white;
    background: red;
  }
  div .quux > input {
    color: blue;
    background: white;
  }
}

@media (hover: hover) {
  .test {
    color: white;
    background: red;
  }
}
