@media (orientation: landscape) {
  @media (hover: hover) {
    .foobar {
      display: none;
    }
  }
}

@media screen and (orientation: landscape) {
  @media (hover: hover) {
    .foobar {
      display: none;
    }
  }
}

@media (hover: hover) {
  @media (orientation: landscape) {
    .foobar {
      display: none;
    }
  }
}

@media (hover: hover) {
  @media screen and (orientation: landscape) {
    .foobar {
      display: none;
    }
  }
}
